<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Twitch Anti Bot</title>
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
    <link rel='stylesheet' href='./stylesheets/index.css' />
    <script src="./javascripts/tmi.min.js"></script>
    <script src="./javascripts/CONFIG.js"></script>
    <script src="./javascripts/TwitchBot.js"></script>
    <script src="./javascripts/BotChecker.js"></script>
    <script src="./javascripts/index.js"></script>
</head>

<body id="chat" onload="setup()">
    <h1 id="titulo" style="color: white;"></h1>
</body>

</html>