<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-16">
  <title>Twitch Anti Bot</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
</body>

</html>